html, body{
	margin: 0;
	height: 100%;
}

body{
	background-color: black;
	color: white;
}

header{
	display: inline-block;
	max-height:10%; 
	text-align: center;
}

.titles h1{
	display: none;
}

.titles h1.active{
	display: block;	
	text-align: center;
}

header button{
	border: none;
	background-color: black;
	color: orange;
	font-size: large;
}

#Edit{
	float: left;
}

#Add{
	float: right;
}

#tabs{
	background-color: black;
	min-height: 80%;
	max-height: 100%;
}

footer{
	max-height: 10%;
}
