body{
	background-color: black;
	color: white;
}

header{
	display: inline-block;
}



.titles h1{
	display: none;
}

.titles h1.active{
	display: block;	
	text-align: center;
}

header button{
	border: none;
	background-color: black;
	color: orange;
	font-size: large;
}

#Edit{
	float: left;
}

#Add{
	float: right;
}